div {
    height: 50px;
    text-align: left;
    /* margin-left: 20px; */
    background-color: #2d3742;
    text-decoration-color: aliceblue;
}

p2 {
    color: whitesmoke;
    font-size: 30px;
    margin-left: 40px;
}