
.banner {
    height: 50px;
    text-align: left;
    padding-top: 12px;
    /* margin-left: 20px; */
    background-color: #2d3742;
    text-decoration-color: aliceblue;
}

.banner-text {
    color: whitesmoke;
    float: left;
    font-size: 30px;
    margin-left: 40px;
    text-decoration: none;
}

.banner-text:hover {
    color: grey;
    font-size: 30px;
    margin-left: 40px;
    cursor: pointer;
}

.banner-account {
    float: right;
    color: whitesmoke;
    font-size: 17px;
    margin-right: 40px;
    margin-top: 6px;
    text-decoration: none;
}

.banner-account:hover {
    float: right;
    color: grey;
    font-size: 17px;
    margin-right: 40px;
}

.banner-menu {
    float: right;
}

.menu-div {
    float: right;
}