* {box-sizing: border-box}

/* Style the tab */
.side-bar {
  float: left;
  background-color: #323236;
  width: 13%;
  min-width: 150px;
  max-width: 200px;
  height: 100px;
  padding-top: 40px;
}

/* Style the buttons that are used to open the side-bar content */
.side-bar-button {
  background-color: inherit;
  font-size: 20px;
  color: whitesmoke;
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  text-align: right;
  cursor: pointer;
  transition: 0.3s;
}

.side-bar-active {
  display: block;
  font-size: 20px;
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  text-align: right;
  cursor: pointer;
  transition: 0.3s;
}


/* Change background color of buttons on hover */
.side-bar button:hover {
    color: grey;
    background-color: whitesmoke;
}

/* Create an active/current "side-bar button" class */
.side-bar button.active {
  background-color: #ccc;
}

/* Style the side-bar content */
.sidebarcontent {
  float: left;
  padding: 0px 12px;
  width: 10%;
  border-left: none;
}

.sidebar-fill{
    flex-grow: 1;
    min-height:79.4vh; 
    display:flex;
    flex-direction: column;
    flex: 1;
    background-color: #323236;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }