* {box-sizing: border-box}

/* Style the tab */
.side-bar {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 13%;
  min-width: 150px;
  height: 100px;
}

/* Style the buttons that are used to open the side-bar content */
.side-bar button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.side-bar button:hover {
  background-color: #ddd;
}

/* Create an active/current "side-bar button" class */
.side-bar button.active {
  background-color: #ccc;
}

/* Style the side-bar content */
.side-barcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 10%;
  border-left: none;
  height: 100px;
}